### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [250]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [251]:
# NOTE TO GRADER: This following section is to make formatting easier, it's a trick I found online 
#                 looking at documentation. #I'll be calling this function everytime I print, and 
#                 that way I don't need to modify the actual dataframe for the sake of formatting: 

pd.options.display.float_format = '{:,.2f}'.format

format_dict = {
    'Percentage of Players': '{:.2f}%', 'Average Price' : '${:,.2f}', 'Total Purchase Value' : '${:,.2f}', 
    'Avg Total Purchase per Person' : '${:,.2f}', 'Item Price' : '${:,.2f}', 
    'Price' : '${:,.2f}', 'Average Purchase Price': '${:,.2f}', 'Total Revenue' : '${:,.2f}' }

In [252]:
# NOTE TO GRADER: "Why is this section here?!" you ask? I'm doing the pd.cut here so that when I create the 
#                 Unique Player dataframe below, this new "Age Range" column will go with it. That way 
#                 I don't have to do the pd.cut twice farther below when I get the Age analysis segment. 

bins = [0, 9, 14, 19, 24, 29, 34, 39, max(purchase_data_df["Age"]+1)]
names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"], bins, labels=names, include_lowest=True)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Player Count

* Display the total number of players

In [253]:
players_uniq_df = purchase_data_df.drop_duplicates(subset=['SN']) # Create dataframe of unique players only. Note
                                                                  # that the Age Ranges column will be a part of this too. 

player_count = len(players_uniq_df) # Get number of unique players. This variable is important, segments below will
                                    # reference this often.

player_count_summary = pd.DataFrame({"Total Players" : [player_count]}) # Create new summary dataframe. 

player_count_summary # Print the dataframe

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [254]:
items_uniq = purchase_data_df.drop_duplicates(subset=['Item ID']) # Get list of unique items

purchases_count = len(purchase_data_df) # Get total number of purchases

items_uniq_count = len(items_uniq) # Get total number of unique purchases

total_rev = sum(purchase_data_df["Price"]) # Get total revenue

ave_price = total_rev / purchases_count # Calculate average price per sale

summary_df = pd.DataFrame({"Number of Unique Items": [items_uniq_count],  # Configure DataFrame to display
                           
                           "Average Purchase Price" : [ave_price], 
                           
                           "Number of Purchases" : [purchases_count], 
                          
                           "Total Revenue" : [total_rev]     } )

summary_df.style.format(format_dict) # Print calling the style format function 
                                     # at the beginning of this notebook

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [255]:
gender_groupby = players_uniq_df.groupby(["Gender"]) # Get list of unique players by gender

gender_demog_df = pd.DataFrame({"Total Count": gender_groupby["SN"].count(), # Get total number of players by gender
                                
                                "Percentage of Players" : gender_groupby['SN'].count() / 
                                    player_count *100 }) # Get percentage of players by gender

gender_demog_df.style.format(format_dict) # Print calling the style format function 
                                          # at the beginning of this notebook


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [256]:
purchases_gender_groupby = purchase_data_df.groupby(["Gender"]) # Create groupby to focus on Gender

gender_purch_df = pd.DataFrame({"Purchase Count": 
                                purchases_gender_groupby["Purchase ID"].count(), # Total purchase by gender using .count()
                                
                                "Average Purchase Price" :                       
                                purchases_gender_groupby["Price"].mean(), # Average purchase price using .mean()
                                
                                 "Total Purchase Value" :                        
                                purchases_gender_groupby["Price"].sum(),  # Total purchase value using .sum()
                          
                                "Avg Total Purchase per Person" :          # Total purchase value
                                 purchases_gender_groupby["Price"].sum() / # using data from the demographic dataframe
                                 gender_demog_df["Total Count"]})          # in the previous segment

gender_purch_df.style.format(format_dict) # Print calling the style format function 
                                          # at the beginning of this notebook

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [257]:
age_groupby = players_uniq_df.groupby(["Age Ranges"]) # Create groupby focussing on Age Ranges. 

# "But where's the Bin, Names, and pd.cut??!!" you ask? Whoahoh! See the third field above, I took care of that 
# before creating a unique player version of the original dataframe. 

age_demog_df = pd.DataFrame({"Total Count": age_groupby["SN"].count(), # Get total count of players by age
                             
                             "Percentage of Players" : age_groupby["SN"].count() / 
                                                        player_count * 100})  # Get percentage of players by age

age_demog_df.style.format(format_dict)    # Print calling the style format function 
                                          # at the beginning of this notebook

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [258]:
purchases_age_groupby = purchase_data_df.groupby(["Age Ranges"]) # Create groupby to focus on Age Range

age_purch_df = pd.DataFrame({"Purchase Count": 
                             purchases_age_groupby["Purchase ID"].count(), # Total purchase by age using .count()
                                
                            "Average Purchase Price" : 
                             purchases_age_groupby["Price"].mean(), # Average purchase price using .mean()
                                
                            "Total Purchase Value" : 
                             purchases_age_groupby["Price"].sum(), # Total purchase value using .sum()
                          
                            "Avg Total Purchase per Person" :         # Total purchase value
                             purchases_age_groupby["Price"].sum() /   # using data from the demographic
                             age_demog_df["Total Count"]    })        # dataframe in the previous segment
                                                                

age_purch_df.style.format(format_dict)    # Print calling the style format function 
                                          # at the beginning of this notebook

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [259]:
spenders_groupby = purchase_data_df.groupby(["SN"]) # Create groupby to focus on Age Range

spenders_df = pd.DataFrame({"Purchase Count": 
                            spenders_groupby["Purchase ID"].count(), # Total purchase by spender using .count()
                                
                            "Average Purchase Price" : 
                            spenders_groupby["Price"].mean(), # Average purchase price using .mean()         
                                
                            "Total Purchase Value" : 
                            spenders_groupby["Price"].sum()}) # Total purchase value using .sum()
                                                             
top_spenders_df = (spenders_df.sort_values(["Total Purchase Value"], ascending=False)) # Sort for biggest spenders

top_spenders_df.head().style.format(format_dict)  # Print calling the style format function 
                                                  # at the beginning of this notebook

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [260]:
items_groupby = purchase_data_df.groupby(["Item ID", "Item Name"]) # Create groupby to focus on Age Range

items_df = pd.DataFrame({"Purchase Count": 
                        items_groupby["Purchase ID"].count(), # Total purchase by item using .count()
                                
                        "Item Price" : items_groupby["Price"].mean(), # Average purchase price using .mean()
                                    
                        "Total Purchase Value" : items_groupby["Price"].sum()}) # Total purchase value using .sum()
                                      
top_items_df = (items_df.sort_values(["Purchase Count"], ascending=False)) # Sort for biggest spenders

top_items_df.head().style.format(format_dict)    # Print calling the style format function 
                                          # at the beginning of this notebook

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [261]:
# New sort, by total purchase value:
top_items_profit_df = top_items_df.sort_values(["Total Purchase Value"], ascending=False) 

top_items_profit_df.head().style.format(format_dict)    # Print calling the style format function 
                                                        # at the beginning of this notebook